.container{
    display: flex;
}

.classes{
    width: 50%;
}
.info-container{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.main-section{
    padding-top: 5%;

}

.hero{
    display: flex;
    margin-left: 4%;

    
    
}